@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #020086;
    --cream: #fdefe5;
    --white: #ffffff;
    --black: #000000;
}

body {
    background-color: var(--cream);
    color: var(--black);
    font-family: 'Lato', sans-serif;
}

.primary-btn {
    background-color: var(--black);
    color: var(--cream);
}

.primary-btn.disabled-btn {
    background-color: transparent;
    color: var(--black);
    border-color: transparent;
}

.saved-words-box {
    box-shadow: inset 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
